.dashboard{
    display: flex;
    width:100%;
  
    .homecontainer {
      flex:40;

      .top{
      -webkit-box-shadow: 2px 4px 10px 1px rgba(240, 236, 236, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(24, 23, 23, 0.47);
      padding: 10px;
      margin: 20px;
      display: flex;
  
    }
    h2 {
      color:rgb(56, 9, 9);
      font-size: 20px;
    }
    form {
      padding-left: 3%;
      gap: 30px;
      justify-content: space-around;

      .formInput {
        width: 50%;

        label {
          display: flex;
          align-items: center;
          gap: 10px;

        }
        input {
          width: 100%;
          padding: 5px;
          border: none;
          border-bottom: 1px solid rgb(12, 12, 12);
        }
      }

      button {
        width: 150px;
        padding: 10px;
        border: none;
        background-color: rgb(56, 9, 9);
        color: white;
        font-weight: bold;
        cursor: pointer;
        margin-top: 10px;
      }
      }
    }
  }
    
